:root {
  --body-color: black;
  --body-bg: rgb(169, 242, 255);
  --button-color: black;
  --button-bg: white;
  --button-hovered-color: white;
  --button-hovered-bg: black;
  --input-focus-bg: rgb(183, 255, 251);
  --input-hovered-bg: rgb(206, 254, 255);
  --task-primary-bg: rgb(0, 255, 242);
  --task-secondary-bg: rgb(57, 120, 214);
  --toggle-bg: rgb(0, 6, 63);
  --toggle-left-bg: yellow;
  --toggle-right-bg: rgb(0, 6, 63);
}

body.dark {
  --body-color: white;
  --body-bg: rgb(53, 53, 53);
  --button-color: white;
  --button-bg: black;
  --button-hovered-color: black;
  --input-focus-bg: rgb(202, 202, 202);
  --input-hovered-bg: rgb(197, 197, 197);
  --button-hovered-bg: rgb(223, 223, 223);
  --task-primary-bg: rgb(0, 68, 124);
  --task-secondary-bg: rgb(0, 37, 78);
  --toggle-bg: yellow;
}

body {
  color: var(--body-color);
  background-color: var(--body-bg);
  width: 100%;
  box-sizing: content-box;
  font-size: 20px;
  margin: 0;
  min-width: 410px;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

input[type='button'],
button {
  color: var(--button-color);
  background-color: var(--button-bg);
  border: rgb(133, 133, 133) solid 1px;
  padding: 3px;
  min-width: 70px;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
}

input[type='button']:hover,
button:hover {
  color: var(--button-hovered-color);
  background-color: var(--button-hovered-bg);
  box-shadow: 0 0 10px black;
}

#task {
  border-radius: 10px;
  flex: 1;
  margin: 0 15px;
  padding: 0 10px;
  font-size: 20px;
}
#task:focus {
  border: 3px solid black;
  background-color: var(--input-focus-bg);
}
#task:hover {
  border: 3px solid black;
  background-color: var(--input-hovered-bg);
}

.form {
  width: 90%;
  display: flex;
}

span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-done span {
  text-decoration: line-through;
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: 95%;
}

li {
  min-width: 300px;
  max-width: 100%;
  background-color: var(--task-primary-bg);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px 2px grey;
  border: 1px solid black;
  border-radius: 10px;
  transition: height 1s, padding 1s;
  overflow: hidden;
}

li:nth-child(even) {
  background-color: var(--task-secondary-bg);
}

li.removing {
  height: 0;
  padding: 0;
}

li:hover {
  border: 3px double black;
  font-size: 25px;
}

.toggler {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: var(--toggle-bg);
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.toggler-check {
  position: absolute;
  left: 0;
  display: inline-block;
  margin: 2px;
  width: 18px;
  height: calc(100% - 4px);
  background-color: var(--toggle-left-bg);
  border-radius: 50%;
}

.toggler-check:checked + .toggler-check {
  position: absolute;
  background-color: var(--toggle-right-bg);
  left: unset;
  right: 0;
}

#user {
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .form label {
    flex-basis: 100%;
    text-align: center;
  }
  #task {
    flex-basis: 100%;
    margin: 10px 0;
  }
  .form button {
    flex-basis: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  .form {
    flex-wrap: wrap;
  }
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 10px;
  cursor: none;
}
